[submodule "submodules/h5bp/mobile-boilerplate"]
	path = submodules/h5bp/mobile-boilerplate
	url = https://github.com/h5bp/mobile-boilerplate.git
[submodule "submodules/eightmedia/hammer.js"]
	path = submodules/eightmedia/hammer.js
	url = https://github.com/EightMedia/hammer.js.git
